USE [master]
GO
/****** Object:  Database [Productdb]    Script Date: 04-01-2021 15:11:40 ******/
CREATE DATABASE [Productdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Productdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Productdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Productdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Productdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Productdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Productdb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04-01-2021 15:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productslist]    Script Date: 04-01-2021 15:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productslist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Price] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImagePath] [varchar](max) NOT NULL,
	[ShortDescription] [varchar](50) NOT NULL,
	[Detaildescription] [varchar](250) NULL,
	[Category] [int] NOT NULL,
 CONSTRAINT [PK_Productslist] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 04-01-2021 15:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](25) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (1, N'Mobile')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (2, N'Watch')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (3, N'Book')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Productslist] ON 

INSERT [dbo].[Productslist] ([Id], [Name], [Price], [Quantity], [ImagePath], [ShortDescription], [Detaildescription], [Category]) VALUES (1, N'Iphone', 99000.0000, 1, N'~/Image/shopping213434906.png', N'Iphone 12', N'64GB/128GB/256GB storage, no card slot.', 1)
INSERT [dbo].[Productslist] ([Id], [Name], [Price], [Quantity], [ImagePath], [ShortDescription], [Detaildescription], [Category]) VALUES (2, N'Mi 9 Pro', 17000.0000, 1, N'~/Image/mi 9pro213925602.jpg', N'Mi 9pro', N'128GB/256GB storage, no card slot', 1)
INSERT [dbo].[Productslist] ([Id], [Name], [Price], [Quantity], [ImagePath], [ShortDescription], [Detaildescription], [Category]) VALUES (4, N'Samsung m21', 15000.0000, 1, N'~/Image/samsung213844224.jpg', N'Samsung m21', N'64GB/128GB', 1)
SET IDENTITY_INSERT [dbo].[Productslist] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([Id], [Username], [Password]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[Registration] ([Id], [Username], [Password]) VALUES (2, N'admin20', N'admin@123')
INSERT [dbo].[Registration] ([Id], [Username], [Password]) VALUES (3, N'admin123', N'admin')
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
ALTER TABLE [dbo].[Productslist]  WITH CHECK ADD FOREIGN KEY([Category])
REFERENCES [dbo].[Categories] ([Id])
GO
USE [master]
GO
