@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.Identity.IsAuthenticated)
{
    <h3 style="text-align:center; margin-top:25%"><img src="~/Image/user.png" height="100" width="100" />Welcome - @User.Identity.Name<b></b></h3>
}

